/* Variaveis Globais */
:root {
    --primary-color: #000000;
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --color-menu-gold: rgb(252, 218, 25);
    --color-menu-logo: #f4f4f4;
    --gap: 3rem;
}