 /* Aqui utilizamos grid e as tags para ajustar o grid */
 .intro-content {
     position: relative;
     /* top: -10rem; */
     display: grid;
     grid-template-columns: 1fr 1.5fr;
     gap: var(--gap);
     min-height: 100vh;
 }

 /* Aqui utilizamos flex, aonde temos que alinha de acordo
 com a tela */
 .intro-text-content,
 .intro-img {
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
 }

 .intro-img img {
     max-width: 100%;
     height: auto;
 }

 .top3-content {
     max-width: 64rem;
     /* 64rem = 800px*/
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
     min-height: 100vh;
     text-align: center;
     line-height: 1.9;


 }

 /* Configurando  aba 3jobs */
 .grid-one-content {
     display: flex;
     flex-flow: column wrap;
     justify-content: center;
     min-height: 100vh;

 }

 /* Especifico da section 3Jobs */
 .grid-one-content h2{
    margin: 5rem;
 }

p.grid-description{
    margin: 5rem;
 }

 .grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: var(--gap);
     counter-reset: grid-counter;
     padding-left: 1rem;

 }

.grid-main-heading {
     margin-bottom: 1rem;

 }
 .grid-description{
    padding-bottom: 5rem;
 }

 .grid h3 {
     font-size: 3rem;
     position: relative;
     padding-left: 8rem;
     padding-bottom: 2rem;
 }

 /* Pseudo elemento */
 .grid h3::before {
     counter-increment: grid-counter;
     content: counter(grid-counter);
     position: absolute;
     font-size: 6rem;
     font-style: italic;
     top: -4rem;
     left: 1rem;
     transform: rotate(5deg);
 }

 /* Gallery */

.gallery-img{
    width: 100%;
    max-width: 50rem;
    max-height: 50rem;
    overflow: hidden;
}

.gallery-img img{
    transition: all 300ms ease-in-out;

}

.gallery-img img:hover{
    transform: translate(3%, 3%) scale(1.2) rotate(5deg);

}
.contact-form{
    grid-column: span 2;
}

.contact-form .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend{
    font-style: italic;
    font-size: 2rem;
    margin-bottom: 3rem;
}

/* Mexendo diretamente no layout dos formularios */
.form-group{
    flex: 1 1 320px;

}

.form-group label{
    display: block;
    margin-bottom: 1rem;

}

.form-group input,
.form-group textarea{
    
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.5rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus{
    box-shadow: 0px 0px 10px 2px var(--color-menu-gold);
}

.form-group button{
    border: 0.2rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

/* Ao passar o mouse no botão */
.form-group button:hover{
    border: 0.2rem solid var(--color-menu-logo);
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder{
    color: rgb(168, 168, 168);
}

.rodape-pag{
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 3rem;

 }

 .close-menu{
    display: none;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

.responsive-table{
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: none;
}

 /* Ou seja, quando a minha tela chegar à esta largura
 ele irá quebrar meu site se ajustando para o formato da tela
 pode ser mobile.  */
@media (max-width: 800px) {
    .intro-content,
    .grid{
        grid-template-columns: 1fr;
    }

    .gallery-img{
       width: 100%; 
       max-width: 100%;
       max-height: 100%;
    }
    .gallery-img img{
        width: 100%;
    }

    .grid-one-content{
        display: block;
    }


    /* Deixando o menu responsivo */

    .menu{
        bottom: 0;
        text-align: center;
    }

    .menu-content{
        height: 100vh;
    }
    .menu-content,
    .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }

    .menu{
        display: none;
    }

    .close-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 1rem;
        right: 0rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu{
        display: block;
    }

    /* × */
    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }

    .menu-spacing{
        display: none;
    }

}