/* Variaveis Globais */
:root {
    --primary-color: #000000;
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --color-menu-gold: rgb(216, 46, 188);
    --color-menu-logo: #ffffff;
    --gap: 3rem;
}